body
            {
                position: relative;
                min-width: 900px;
                max-width: 900px;
                margin:auto;
            }

            #topnav
            {
                padding: 0 0 0 0;
            }

            #block1
            {
                margin: -20px 0 0 0;
            }

            .imageblocks
            {
                height:400px;
                width:510px;
            }

            #formbar
            {
                position: relative;
                margin: -600px 0 0 520px;
            }

            .input1
            {
              margin: 0 0 0 0;
              box-sizing: border-box;
            }

            .input2
            {
              margin: 5px 0 0 0;
              box-sizing: border-box;
            }

            #text
            {
                background-color:black;
                margin-top: -500px;
            }

            #arrows
            {
                scale: 80%;
                margin: -420px 0 0 0;
                width: 220px;
                height: auto;
            }

            #arrow2
            {
                font-size: 12;
                scale: 80%;
                margin: 0 0 0 470px;
                width:300px;
            }

            #usern
            {
                margin: -700px 0 0 0;
                width: 250px;
            }